div h2{
    margin-left: 36%;
    margin-bottom: 5%;
    font-size: 38px;
    /* font-family: 'Cuprum', sans-serif; */
    /* font-family: 'Kaushan Script', cursive; */
    /* font-family: 'Kalam', cursive; */
}