/* You can add global styles to this file, and also import other style files */
.container{
    margin-top: 50px;
}
a{
    margin-left: 7%;
}
button{
    margin-right: 10px;
    margin-bottom: 8px;
}

body{
    font-family: 'Kalam', cursive;
}